:root {
  --black: rgb(9,10,10);
  --dark-brown: rgb(62,29,17);
  --brown: rgb(141,54,21);
  --light-brown: rgb(217,154,79);
  --white: rgb(239,221,186);
}

*{
    font-family: 'Oswald', sans-serif;
}

p{
  font-size: 2em;
  font-weight: 200;
  color:#231D17;
}

p>b{
  font-weight: 400;
}

body{
  padding:0;
  margin:0;
}


header{
  background: #231D17;
  display: flex;
  height:520px;
  position: relative;
}

#header-logo{
  width: 100%;
  max-width: 520px;
  margin:auto;
  padding:22px;
  box-sizing: border-box;
}

#down-arrow{
  position: absolute;
  width: 50px;
  bottom:12.5%;
  left:50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  display: block;
}

article>div{
    min-height: 520px;
}

.flex-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:44px 11px;
}

.wrapper{
  max-width: 1280px;
  margin:auto;
}

.dark-light{
  background: #473C33;
}

.dark-light p{
  color: #F4E3BF;
}

.light{
  background: #F9EFDF;
}

.article-img{
  width: 100%;
  max-height: 420px;
  max-width: 320px;
}

.right-align{
  text-align: right;
}



footer{
  padding:44px 11px;
  background:#352C24;
}

ul.sources{
  margin:0;
  padding:0;
  list-style: none;
}

.sources>li>h4{
  color: #F4E3BF;
  font-weight: 400;
  font-size: 1.2em;
  margin:0;
}

.sources>li>a{
  text-decoration: none;
  color: #F4E3BF;
  font-weight: 200;
  font-size: 1.2em;
}

#portfolioLogo>img{
  display: block;
  width: 100%;
  max-width: 100px;
}
